- breadcrumb :new_profile
= render partial: "layouts/breadcrumbs"
.container
  .container_contents
    .container_contents_main
      .container_contents_main_address
        .container_contents_main_address_inside
          = link_to "本人確認情報を登録する", step1_profiles_path, method: :get, class: "container_contents_main_address_inside_bottun"
      
    = render partial: "users/side-bar"