- breadcrumb :logout
= render partial: "layouts/breadcrumbs"
.container
  .container_contents
    .container_contents_main
      .container_contents_main_logout
        .container_contents_main_logout_inside
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "container_contents_main_logout_inside_bottun"
      
    = render partial: "users/side-bar"