- breadcrumb :my_page
= render partial: "layouts/breadcrumbs"
.container
  .container_contents
    .container_contents_main
      .container_contents_main_icon
        .container_contents_main_icon_inside
          = link_to image_tag("member_photo_noimage_thumb.png", class: "container_contents_main_icon_inside_noimage"), "#"
          .container_contents_main_icon_inside_name
            = current_user.name
      .container_contents_main_profile
        .container_contents_main_profile_title
          プロフィール
          %hr
        .container_contents_main_profile_inside
      .container_contents_main_history
        .container_contents_main_history_title
          購入履歴
          %hr
        .container_contents_main_history_inside
    = render partial: "users/side-bar"