#account-page.account-page
  .account-page__inner
    .account-page__inner--left.account-page__header
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field-label
            = f.label :メールアドレス
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
        .actions
          = f.submit "ログイン"
