.breadcrumbs {
  border-top: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;

  &__main {
    margin: 0 auto;
    padding: 16px 0;
    width: 1020px;

    &__body {
      line-height: 1.2;
      font-size: 14px;
      color: #353535;

      a {
        display: inline-block;
        margin: 0 6px;
        &:hover {
          opacity: 0.7;
          text-decoration: underline;
        }
      }

      .current {
        font-weight: 600;
        margin-left: 6px;
      }
    }
  }
}