
.exhibition{
  height                          : 100%;
  background-color                : rgb(245, 245, 245);
  padding-bottom: 220px;

  &__first{
    width                         :700px;
    height                        :335px;
    background-color              : white;
    margin                        :0 auto;
    &__syuppin{
      font-size                   :14px;
      font-weight                 :600;
      display                     : inline-block;
      padding                     : 40px 0px 0px 40px;
    }
    &__must{
      font-size                   :12px;
      font-weight                 :600;
      width                       :32px;
      height                      :16px;
      border-radius               : 2px;
      line-height                 : 1.4em;
      color                       :white;
      background-color            : red;
      display                     : inline-block;
      text-align                  : center;
    }
    &__sheet{
      font-size                   :14px;
      padding                     : 16px 0px 10px 40px;
    }

    &__box{
      justify-content: space-around;
      display: flex;
      width: 90%;
      margin: 0 auto;

      .item-image{
        margin-right                : 10px;
      }

      #exhibition__first__image{
        width                       :620px;
        height                      :150px;
        background-color            : rgb(245, 245, 245);
        text-align                  : center;
        border-style                : dashed;
        border-width                : 1px;
        border-color                : rgb(204, 204, 204);
        font-size                   : 12px;
        padding-top: 40px;
        
        .item-num-0{
          width: 100%;
        }
        .item-num-1{
          width: 491px;
        }
        .item-num-2{
          width: 363px;
        }
        .item-num-3{
          width: 234px;
        }
        .item-num-4{
          width: 106px;
        }
      }
      #exhibition__first__image.item-num-5{
        display: none;
      }
        
      .exhibition__first__image__picture{
          padding                   : 40px 0px 10px 0px;
      }
    }
        .exhibition__first__image__not-picture{
          font-size                 : 14px;
          color                     : red;
          margin-top                : 6px;
          padding                   : 10px 0px 0px 40px;
          border-bottom             : 20px;
        }
  }
  &__second{
    width                         :700px;
    height                        :450px;
    margin                        :0 auto;
    margin-top                    : 2px;
    background-color              : white;
    &__main{
      width                       :620px;
      height                      :220px;
      margin                      :0 auto;
      padding-top                 : 20px;

      &__name{
      font-size                   :14px;
      font-weight                 :600;
      display                     : inline-block;
      }
      &__alert2{
        font-size                 : 14px;
        color                     : red;
        margin                    : 0px 0px 20px;
      }
      &__must{
        font-size                 :12px;
        font-weight               :600;
        width                     :32px;
        height                    :16px;
        border-radius             : 2px;
        line-height               : 1.4em;
        color                     :white;
        background-color          : red;
        display                   : inline-block;
        text-align                : center;
      }
      &__form{
        &__comment{
          height                    :48px;
          border                    : 1px solid #ccc;
          border-radius             : 4px;
          box-sizing                : border-box;
          margin                    : 10px 0px 20px;
          padding                   :10px 20px;
          width: 620px;
          display: block;
        }
      }
      &__exhibition{
        display                   : inline-block;
        font-size                 :14px;
        font-weight               :600;
      }
      &__input{
        &__form{
        width                     : 620px;
        height                    :154px;
        margin-top                : 16px;
        border                    : 1px solid #ccc;
        border-radius             : 4px;
        box-sizing                : border-box;
        text-align                : center;
        text-align                : left;
        }
      }
      &__count{
        margin-top                : 16px;
        text-align                : right;
        color                     : #888;
        font-size                 : 12px;
        line-height               : 1.4em;
      }
      &__alert{
        font-size                 : 14px;
        color                     : red;
        margin                    : 6px 0px 10px;
      }
    }
  }
  &__third{
    width                         :700px;
    height                        :550px;
    margin                        :0 auto;
    background-color              : white;
    margin-top                    : 2px;
    &__main{
      width                       :620px;
      height                      :220px;
      margin                      :0 auto;
      padding-top                 : 20px;
      &__details{
        font-size                 :14px;
        font-weight               :600;
        color                     : #888;
        margin-bottom             : 20px;
      }
      &__category{
        display                   : inline-block;
        font-size                 :14px;
        font-weight               :600;
      }
      &__must{
        font-size                 :12px;
        font-weight               :600;
        width                     :32px;
        height                    :16px;
        border-radius             : 2px;
        line-height               : 1.4em;
        color                     :white;
        background-color          : red;
        display                   : inline-block;
        text-align                : center;
      }
      &__choice{
      #parent_category{
        width                     : 620px;
        border                    : 1px solid #ccc;
        border-radius             : 4px;
        box-sizing                : border-box;
        font-size                 : 16px;
        height                    : 48px;
        line-height               : 1;
        outline                   : none;
        margin-top                : 25px;
        padding: 0 10px;
        display: flex;
        }
        &__message{
          width                   :550px;
        }
        &__icon{
          text-align              : right;
        }

        #child_category{
          width                     : 620px;
          border                    : 1px solid #ccc;
          border-radius             : 4px;
          box-sizing                : border-box;
          font-size                 : 16px;
          height                    : 48px;
          line-height               : 1;
          outline                   : none;
          margin-top                : 25px;
          padding: 0 10px;
          display: flex;
        }
        #grandchild_category{
          width                     : 620px;
          border                    : 1px solid #ccc;
          border-radius             : 4px;
          box-sizing                : border-box;
          font-size                 : 16px;
          height                    : 48px;
          line-height               : 1;
          outline                   : none;
          margin-top                : 25px;
          padding: 0 10px;
          display: flex;
        }
      }
      &__must-choice{
        font-size                 : 14px;
        color                     : red;
        margin                    : 20px 0px 10px;
      }
      &__size{
        display                   : inline-block;
        font-size                 :14px;
        font-weight               :600;
      }
      &__size-form{
        width                     :620px;
        border                    : 1px solid #ccc;
        border-radius             : 4px;
        box-sizing                : border-box;
        font-size                 : 16px;
        height                    : 48px;
        line-height               : 1;
        outline                   : none;
        padding                   : 13px 0px 0 16px;
        margin-top                : 20px;
        display                   : flex;
          width                   :550px;
          border-bottom           : 20px;
        }
      &__brand{
        display                   : inline-block;
        font-size                 :14px;
        font-weight               :600;
        margin-top: 20px;
      }
      &__any{
        font-size                 :14px;
        font-weight               :600;
        width                     :150px;
        border-radius             : 2px;
        line-height               : 1.4em;
        color                     :black;
        display                   : inline-block;
        margin-top                : 15px;
      }
      &__any-form{
        height                    :48px;
        width                     :620px;
        border                    : 1px solid #ccc;
        border-radius             : 4px;
        box-sizing                : border-box;
        color                     : #999999;
        margin                    : 10px 0px 20px;
        padding                   :10px 20px;
      }
      &__type{
        font-size                 :14px;
        font-weight               :600;
        margin-top                : 15px;
        display                   : flex;
      }
      &__title{
        margin-right: 5px;
        line-height: 15px;
      }
  
      &__type-choice{
        select{
        width                     : 100%;
        border                    : 1px solid #ccc;
        border-radius             : 4px;
        box-sizing                : border-box;
        height                    : 48px;
        background-color          : white;
        line-height               : 1;
        outline                   : none;
        padding                   : 13px 0px 0 16px;
        margin-top                : 20px;
        display                   : flex;
          &__form{
            width                   :550px;
            border-bottom           : 20px;
          }
        }
      }
    }
    }
  &__forth{
    width                         :700px;
    height                        :750px;
    margin                        : auto;
    background-color              : white;
    margin-top                    : 2px;
    &__main{
      width                       :620px;
      height                      :220px;
      margin                      :0 auto;
      padding-top                 : 20px;
      &__info{
        color                     : rgb(136, 136, 136);
        font-size                 : 14px;
        font-weight               : 600;
        line-height               : 1.4em;
        margin-bottom             : 24px;
      }
      &__burden{
        display                   : inline-block;
        font-size                 :14px;
        font-weight               :600;
        margin-top: 15px;
      }
      &__must{
        font-size                 :12px;
        font-weight               :600;
        width                     :32px;
        height                    :16px;
        border-radius             : 2px;
        line-height               : 1.4em;
        color                     :white;
        background-color          : red;
        display                   : inline-block;
        text-align                : center;
      }
      &__up{
        font-size                 :14px;
        font-weight               :600;
        width                     :62px;
        height                    :16px;
        border-radius             : 2px;
        line-height               : 1.4em;
        color                     :black;
        display                   : inline-block;
        text-align                : center;
      }
      &__burden-form{

        display: flex;
        &__main{
          select{
          width                     : 620px;
          border                    : 1px solid #ccc;
          border-radius             : 4px;
          box-sizing                : border-box;
          font-size                 : 16px;
          height                    : 48px;
          line-height               : 1;
          outline                   : none;
          padding                   : 13px 0px 0 16px;
          margin-top                : 25px;
          background-color: white;
          }
        }
      }
      &__choice{
        font-size                 : 14px;
        color                     : red;
        margin                    : 20px 0px 10px;
      }
      &__type{
        display                   : inline-block;
        font-size                 :14px;
        font-weight               :600;
        margin-top                : 12px;
      }
    }
  }
  &__fifth{
    width                         :700px;
    height                        :550px;
    margin                        :0 auto;
    background-color              : white;
    margin-top                    : 2px;
    &__main{
      width                       :620px;
      height                      :220px;
      margin                      :0 auto;
      padding-top                 : 20px;
      &__pricerange{
        font-size                 :14px;
        font-weight               :600;
        color                     : #888;
        margin-bottom             : 20px;
      }
      &__price{
        display                   :flex;
        justify-content           :space-between;
        font-size                 :14px;
        font-weight               :600;
        margin-top                : 12px;
      }
      &__price-box{
        display: flex;
      }
      &__must{
        margin-left               : 5px;
        font-size                 :12px;
        font-weight               :600;
        width                     :32px;
        height                    :16px;
        border-radius             : 2px;
        line-height               : 1.4em;
        color                     :white;
        background-color          : red;
        display                   : inline-block;
        text-align                : center;
      }
      &__form{
        input{
        width                     : 177px;
        border                    : 1px solid #ccc;
        border-radius             : 4px;
        box-sizing                : border-box;
        font-size                 : 16px;
        height                    : 48px;
        line-height               : 1;
        outline                   : none;
        display                   : inline-block;
        margin-left               : 330px;
        padding                   : 15px;
    text-align                    : left;
    vertical-align                : middle;
        }
      }
      &__fee{
        margin-top                :50px;
        font-size                 : 14px;
        display                   : flex;
        justify-content           : space-between;
      }
      &__fee1{
      }
      &__profit{
        margin-top                :50px;
        font-size                 : 14px;
        display                   : flex;
        justify-content           : space-between;
      }
      &__profit1{
      }
      &__btn{
        text-align                : center;
        margin-top                : 70px;
        width                     : 100%;
        input{
        width                     : 30%;
        height                    : 48px;
        background-color          : #2bccd1;
        color                     : #fff;
        font-size                 : 17px;
        min-height                : 48px;
        text-align                : center;
        border-radius             : 4px;
        border                    : 1px solid transparent;
        }
      }
      &__back{
        text-align                : center;
        margin-top                : 30px;
        color                     : #0095ee;
        font-size                 : 14px;
      }
      &__text{
        font-size                 : 12px;
        text-align: center;
        margin-top: 30px;
      }
    }
  }
}