* {
  box-sizing                      : border-box;
}

.wrapper {
  display                         : flex;
  height                          : 100vh;
  background-color                : #f5f5f5;
}

.sign_up {
  height                          : 100vh;

  &_header {
    height                        : 80px;
    width                         : 100vw;

    &_icon {
      display                     : block;
      margin-left                 : auto;
      margin-right                : auto;
      margin-top                  : 20px;
    }
  }

  &_body {
    height                        : 500px;
    width                         : 100vw;
    background-image              : url("bg-mainVisual-pict_pc.jpg");
    background-size               : 120% 120%;
    position                      : relative;
    overflow                      : scroll;

    &_form{
      background-color            : #f5f5f5;
      height                      : 450px;
      width                       : 500px;
      position                    : absolute;
      top                         : 0;
      right                       : 0;
      bottom                      : 0;
      left                        : 0;
      margin                      : auto;

      &_inside {
        height                    : 450px;

        &_title {
          text-align: center;
          padding-bottom: 20px;
          &_new {
            margin-top            : 24px;
            margin-right          : auto;
            margin-left           : auto;
            padding               : 20px;
            text-align            : center;
            font-weight           : bold;
            width                 : 200px;
            font-size             : 24px;
            font-weight           : bold;
            text-decoration       : none;
            display               : block;
            text-align            : center;
            padding               : 8px 0 10px;
            color                 : #fff;
            background-color      : #3CCACE;
          }
          a {
            text-decoration       : none;
            color                 : #fff;
          }
        }

        &_email {
          margin-top              : 24px;
          margin-left             : 100px;
          margin-right            : 100px;
          font-weight             : bold;

          .mail-text{
            height                : 50px;
            width                 : 300px;
            background-repeat     : no-repeat;
            background-position   : 8px center;
            background-size       : auto 60%;
            background-color      : #fff;
            margin                : 0 auto;
            padding-left          : 30px;
            border                : 2px solid #666;
            border-radius         : 6px;
            color                 : #555;
            font-size             : 15px;
            letter-spacing        : 0.1em;
            font-weight           : bold;
            outline               : 0;
          }
        }

        &_password {
          margin-top              : 24px;
          margin-left             : 100px;
          margin-right            : 100px;
          font-weight             : bold;

          .pass-text{
            height                : 50px;
            width                 : 300px;
            background-repeat     : no-repeat;
            background-position   : 8px center;
            background-size       : auto 60%;
            background-color      : #fff;
            margin                : 0 auto;
            padding-left          : 30px;
            border                : 2px solid #666;
            border-radius         : 6px;
            color                 : #555;
            font-size             : 15px;
            letter-spacing        : 0.1em;
            font-weight           : bold;
            outline               : 0;
          }
        }
        &_bottun {
          margin-top              : 50px;
          margin-right            : auto;
          margin-left             : auto;
          padding                 : 20px;
          text-align              : center;
          font-weight             : bold;
          width                   : 200px;
          font-size               : 24px;
          font-weight             : bold;
          text-decoration         : none;
          display                 : block;
          text-align              : center;
          padding                 : 8px 0 10px;
          color                   : #ffffff;
          background-color        : #3CCACE;

          &_registration{
          }
          a {
            text-decoration       : none;
            color                 :#fff;
          }
        }
        .require {
          padding-left            : 10px;
          color                   : red;
        }
      }
    }
  }
}
.footer {
  height                          : 100px;
  width                           : 100%;
  background-color                : black;
  bottom                          : 0;
  position                        : fixed;

  &_inside{
    text-align                    : center;
    color                         : #ffffff;
    font-size                     : 14px;
    font-family                   : "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

    &_icon {
      display                     : block;
      margin-left                 : auto;
      margin-right                : auto;
      margin-top                  : 20px;
    }
  }
}