#items.container_contents_main {
  background-color: #fff;
  height: auto;

  .container_contents_main__top {
    width: 100%;
    padding: 8px 24px;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #eee;
    line-height: 1.4;
  }
  
  li {
    border-bottom: 1px solid #eee;

    a {
      &:hover {
        opacity: 0.5;
      }
      display: block;
      display: flex;
      min-height: 80px;
      padding: 16px;

      .container_contents_main__item__information {
        width: 100%;
        margin: 0 40px 0 38px;

        div {
          max-height: 4.4em;
          line-height: 1.5;
          color: #333;
        }

      }
      
    }
  }
 
}